// Uncomment below to remove border radius on projects and pagination items (pre v6.5)
/*
.card, .pagination-item {
  border-radius: 0!important;
}
*/

// Uncomment below to restore the old (pre v6.5) sidebar
/*
@media screen {
  .sidebar-sticky {
    left: 2rem;
    max-width: none;
  }
}
*/

img{
  margin-left: auto;
  margin-right: auto;
}

.red{
  color:crimson;
  font-weight: bold;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4fb1ba;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4fb1ba;
  cursor: pointer;
}
